<div class="h-full shadow-lg w-1/5 inline-grid bg-white rounded-2xl dark:bg-gray-700">

  <div class="">
    <div class="flex items-center justify-center p-10">
      <img src="favicon.ico">
    </div>
    <nav class="mt-6">
      <div>
        <a class="w-full font-thin uppercase flex items-center p-4 my-2 transition-colors duration-200 justify-start dark:from-gray-700 dark:to-gray-800  text-blue-500  bg-gradient-to-r from-white to-blue-100 border-r-4 border-blue-500" href="./admin/dashboard">
          <span class="material-icons">timeline</span>
          <span class="mx-4 text-sm font-normal">
                                Dashboard
                            </span>
        </a>
        <a class="w-full font-thin uppercase text-gray-500 dark:text-gray-200 flex items-center p-4 my-2 transition-colors duration-200 justify-start hover:text-blue-500" href="./admin/video">
                            <span class="material-icons md-36">
          video_settings
        </span>
          <span class="mx-4 text-sm font-normal">
                                Home Video
                            </span>
        </a>
        <a class="w-full font-thin uppercase text-gray-500 dark:text-gray-200 flex items-center p-4 my-2 transition-colors duration-200 justify-start hover:text-blue-500" href="./admin/category">
          <span class="material-icons">shop</span>
          <span class="mx-4 text-sm font-normal">
                                Product Category
                            </span>
        </a>
        <a class="w-full font-thin uppercase text-gray-500 dark:text-gray-200 flex items-center p-4 my-2 transition-colors duration-200 justify-start hover:text-blue-500" href="./admin/products">
          <span class="material-icons">shop_2</span>
          <span class="mx-4 text-sm font-normal">
                                Products
                            </span>
        </a>

        <a class="w-full font-thin uppercase text-gray-500 dark:text-gray-200 flex items-center p-4 my-2 transition-colors duration-200 justify-start hover:text-blue-500" href="./admin/slider">
          <span class="material-icons">camera_roll</span>
          <span class="mx-4 text-sm font-normal">
                                Home Slider
                            </span>
        </a>
      </div>
    </nav>
  </div>
</div>


<!-- Old Sidebar -->
<!--<div class="flex flex-1 inline-grid flex-col font-mono w-1/6 h-screen py-8 bg-white border-r dark:bg-gray-800 dark:border-gray-600">
  <h2 class="text-3xl  font-semibold text-center text-gray-800 dark:text-white">Bunty Patola</h2>

  <div class="flex flex-col items-center mt-6 -mx-2">
    <img class="object-cover w-24 h-24 mx-2 rounded-full" src="https://images.unsplash.com/photo-1531427186611-ecfd6d936c79?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80" alt="avatar">
    <h4 class="mx-2 mt-2 font-medium text-gray-800 dark:text-gray-200 hover:underline">Admin</h4>
    <p class="mx-2 mt-1 text-sm font-medium text-gray-600 dark:text-gray-400 hover:underline">john@example.com</p>
  </div>

  <div class="flex flex-col justify-between flex-1 mt-6">
    <nav>
      <a class="flex items-center px-4 py-2 mt-5 text-gray-600 transition-colors duration-200 transform dark:text-gray-400 hover:bg-gray-200 dark:hover:bg-gray-700 dark:hover:text-gray-200 hover:text-gray-700" href="./admin/dashboard">
        <span class="material-icons">timeline</span>

        <span class="mx-4 font-medium">Dashboard</span>
      </a>

      <a class="flex items-center px-4 py-2 mt-5 text-gray-600 transition-colors duration-200 transform dark:text-gray-400 hover:bg-gray-200 dark:hover:bg-gray-700 dark:hover:text-gray-200 hover:text-gray-700" href="./admin/video">
        <span class="material-icons md-36">
          video_settings
        </span>


        <span class="mx-4 font-medium">Home Video</span>
      </a>

      <a class="flex items-center px-4 py-2 mt-5 text-gray-600 transition-colors duration-200 transform dark:text-gray-400 hover:bg-gray-200 dark:hover:bg-gray-700 dark:hover:text-gray-200 hover:text-gray-700" href="./admin/category">
        <span class="material-icons">shop</span>

        <span class="mx-4 font-medium">Product Category</span>
      </a>

      <a class="flex items-center px-4 py-2 mt-5 text-gray-600 transition-colors duration-200 transform dark:text-gray-400 hover:bg-gray-200 dark:hover:bg-gray-700 dark:hover:text-gray-200 hover:text-gray-700" href="./admin/products">
        <span class="material-icons">shop_2</span>

        <span class="mx-4 font-medium">Products</span>
      </a>
      <a class="flex items-center px-4 py-2 mt-5 text-gray-600 transition-colors duration-200 transform dark:text-gray-400 hover:bg-gray-200 dark:hover:bg-gray-700 dark:hover:text-gray-200 hover:text-gray-700" href="./admin/products">
        <span class="material-icons">camera_roll</span>

        <span class="mx-4 font-medium">Sliders</span>
      </a>
    </nav>
  </div>
</div>-->
